/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2017, 12:39:18 AM
    Author     : jpbur
*/

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block }

body {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: gainsboro;
}
header {
    background-color: aqua;
}
nav {
    background-color: bisque;
}
section {
    background-color: chartreuse;
}
article {
    background-color: dodgerblue;
}
aside {
    background-color: firebrick;
}
footer {
    background-color: green;
}
ul {
    text-align: left;
}
table, th, td {
    border: 1px solid black;
}
.center {
    width: 400px;
    margin: 0 auto;
}
.table_header {
    background-color: tomato;
}
#th-id1 {
    background-color: plum;
}
#th-id2 {
    background-color:cadetblue;
}
#th-id3 {
    background-color:blanchedalmond;
}
